<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()" ion-button icon-left clear small>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button><ion-icon class="icon-button" name="news" class="nav-icon text-default"></ion-icon></button>
    </ion-buttons>
    <ion-title >
      <div class="text-default">Circolari</div>
    </ion-title>
    
  </ion-navbar>
</ion-header>
<ion-content>
  <div *ngFor="let com of comFull">
    <ion-card class="border-blue" *ngIf="com.dc_letta=='N'" (click)="goToDetails(com)"  >
      <ion-card-content >
        <h1 >
          {{com.cm_titolo}}
        </h1>
        <p>
        {{com.cm_descrizione}}
        </p>
      </ion-card-content>
    </ion-card>
    <ion-card class="border-green" *ngIf="com.dc_letta=='S'" (click)="goToDetails(com)"  >
      <ion-card-content >
        <h1 >
          {{com.cm_titolo}}
        </h1>
        <p>
        {{com.cm_descrizione}}
        </p>
      </ion-card-content>
    </ion-card>
</div>
</ion-content>