<ion-header>
  <ion-navbar hideBackButton>
    <ion-buttons left>
      <button (click)="back()" ion-button icon-left clear small>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button><i [ngStyle]="{'color' : color, 'font-size': '2em' }" [ngClass]="icon"></i></button>
    </ion-buttons>
    <ion-title >
      <div [ngStyle]="{'color' : color}" class="text-default">Rubrica</div>
    </ion-title>
    
  </ion-navbar>
</ion-header>
<ion-content>
  
    <ion-searchbar  (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list >
        <ion-item-group class="list-group list-group-flush addressBook addBook" *ngFor="let group of groupedContacts">
          <ion-item-divider class="group-header bg-default small text-white" >{{group.letter}}</ion-item-divider>
          <ion-item class="list-group-item" *ngFor="let contact of group.contacts" (click)="goToDetails(contact)" >
              <div class="item" >
                  <div  class="user-small">
                    <img  src="{{contact.url_avatar}}">
                  </div>
                </div>
                <div class="brief">
                  <h5 class="name ">{{contact.nome}} {{contact.cognome}}</h5>
                  <p class="text ">{{contact.ruolo_aziendale}}</p>
                  <i class="fa fa-mobile device"></i>
                </div>
            </ion-item>
        </ion-item-group>
    </ion-list>

    <!--<div class="tab-content mt-3">
        <div class="card no-border mb-3 ">
          <div class="card-header bg-default small text-white">R</div>
          <ul class="list-group list-group-flush addressBook addBook">
            <li class="list-group-item" onclick="location.href = 'chat.html'">
              <div class="item" start>
                <div class="user-small">
                  <img src="/Assets/images/user-thumb.jpg">
                </div>
              </div>
              <div class="brief">
                <h5 class="name">Paolo Rossi</h5>
                <p class="text">Addetto vendite</p>
                <i class="fa fa-mobile device"></i>
              </div>
            </li>
            
          </ul>
          </div></div>-->
</ion-content>
