<ion-header>
<ion-navbar hideBackButton>
  <ion-buttons left>
    <button (click)="back()" ion-button icon-left clear small>
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    </ion-buttons>
    <ion-title>
      <div class="text-default" >NUOVO</div>
    </ion-title>
    <ion-buttons end>
        <button><ion-icon class="icon-button" name="contact" class="nav-icon text-default"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label >Destinatario</ion-label>
    <ion-select [(ngModel)]="nomeDestinatario">
      <ion-option *ngFor="let con of contacts">{{con.nome}} {{con.cognome}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
  <ion-label>Per conoscenza</ion-label>
    <ion-select [(ngModel)]="nomeConoscenza">
      <ion-option *ngFor="let con of contacts">{{con.nome}} {{con.cognome}}</ion-option>
    </ion-select>
  </ion-item>
  <div >Oggetto</div>
  <ion-input style="background-color: white"[(ngModel)]="oggetto"></ion-input>
  <div>Messaggio</div>
  <ion-textarea style="background-color: white" [(ngModel)]="messaggio"></ion-textarea>
  <button ion-button (click)="inviaMessaggio()">INVIA</button>
</ion-content>
