comunicazione {

    $color-comm: #E7967B;
    $color-chat: #3FA397;
    $color-priority: #FAB900;
    $gray-100: #f8f9fa;
    $gray-500: #adb5bd;
    $gray-600: #868e96;
    $gray-900: #212529;

    .comm {
        //.list-group-item { 
            display: flex;
            cursor: pointer;
        //}
        .item {
            display: inline-block;
            width: 60px;
            padding-right: 10px;
            margin-right: 10px;
            line-height: 2rem;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                border-right: solid 4px $color-comm;
                top: 0;
                right: -2px;
                height: 100%
            }
            &.readed:after {
                border-right: solid 1px $gray-500;
                right: 0;
            }
            
            .day {
                font-size: 2rem;
                color: $gray-500;
                display: block;
                text-align: center;
                line-height: 2rem;
            }
            .month {
                font-size: .5rem;
                text-transform: uppercase;
                color: $color-comm;
                display: block;
                text-align: center;
                line-height: 1rem;
            }
        }
    
        .brief {
            min-width: 0;
            flex: 1;
            h5 {
                font-size: 1.3rem;
                line-height: 1.3rem;
                margin: 0;
                font-weight: normal;
                color: $gray-600;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p {
                color: $color-comm;
                font-size: .75rem;
                line-height: 1rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

