<ion-header>
    <ion-navbar hideBackButton>
        <ion-buttons left>
            <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
          </ion-buttons>
      <ion-buttons right>
        <button (click)="back()" ion-button icon-left clear small>
          <ion-icon name="arrow-back"></ion-icon>
        </button>
      </ion-buttons>
      
      <ion-title >
        <div class="text-default">MESSAGGI</div>
      </ion-title>
      
    </ion-navbar>

  </ion-header>
  
  <!--<ion-menu id="messaggi" [content]="mycontent">
      <ion-content>
        <ion-list>
        <ion-item (click)="GoProfile()"> Ingresso </ion-item>
        <ion-item (click)="logOut()"> Uscita </ion-item>
        <ion-item (click)="changePassword()">Importanti</ion-item>
        <ion-item >Cestino</ion-item>
        <ion-item menuClose detail-none>Nuovo messaggio</ion-item>
        </ion-list>
      </ion-content>
      </ion-menu>
      <ion-nav #mycontent [root]="rootPage" ></ion-nav>-->

  <ion-content>
      <button ion-button menuToggle>Toggle Menu</button>
      <button ion-button (click)="goTonuovoMessaggio()">Nuovo</button>
      <button ion-button (click)="goToUscitaMessaggi()">Uscita</button>
      <button ion-button (click)="goToImportantiMessaggi()">Importanti</button>
      <button ion-button (click)="goToCestinoMessaggio()">Cestino</button>
       <!--<div *ngFor="let mess of messFull">
         <ion-card   (click)="goToDetails(mess)">
            <ion-card-content >
              <h1 >
                {{mess.cognome_mit}}
              </h1>
              <p>
              {{mess.soggetto}}
              </p>
            </ion-card-content>
          </ion-card>-->

          <ion-list >
              
              <ion-item class="list-group-item" *ngFor="let mess of messFull"  >
                  
                  <div class=" box item" >
                      <ion-icon name="eye" (click)="goToDetails(mess)"></ion-icon>
                      <ion-icon name="checkbox"></ion-icon>
                      <ion-icon name="star-outline" *ngIf="mess.preferito==''" (click)="setStar(mess,'S')"></ion-icon>
                      <ion-icon name="star-outline" *ngIf="mess.preferito=='N'" (click)="setStar(mess,'S')"></ion-icon>
                      <ion-icon name="star" *ngIf="mess.preferito=='S'" (click)="setStar(mess,'N')"></ion-icon>
                      <!--<div  class="user-small contact-small">
                        <img  src="{{mess.url_avatar}}">
                      </div>-->
                    </div>
                    <div class=" box brief contact-small ">
                      <h5 class="name ">{{mess.cognome_mit}} {{mess.nome_mit}}</h5>
                      <p class="text ">{{mess.soggetto}}</p>
                      <i class="fa fa-mobile device"></i>
                    </div>
                    <div class="box data">
                      {{mess.data}}
                    </div>
                </ion-item>
        </ion-list>

</ion-content>
