<ion-header>
  <ion-navbar >
	<button ion-button menuToggle ><ion-icon name="menu"></ion-icon></button>
	<ion-title >ALL IN APP</ion-title>
	
    <ion-buttons end><img width="30em" src="assets/imgs/logo.png"></ion-buttons>
	
  </ion-navbar>
</ion-header>

<ion-menu id="home"[content]="mycontent">
	<ion-content>
	  <ion-list>
		<ion-item (click)="GoProfile()"> Profilo </ion-item>
		<ion-item (click)="logOut()"> LogOut </ion-item>
		<ion-item (click)="changePassword()">Cambia password</ion-item>
		<ion-item (click)="goToComunicazioni()">Comunicazioni</ion-item>
		<ion-item (click)="goToCircolari()">Circolari</ion-item>	
		<ion-item (click)="goToChat()">Chat</ion-item>
		<ion-item (click)="goToNews()">News</ion-item>
		<ion-item (click)="goToMessaggi()">Messaggi</ion-item>
		<ion-item (click)="goToDocumentale()">Documentale</ion-item>
		<ion-item (click)="goToContact()">Rubrica</ion-item>			  
		<ion-item menuClose detail-none>Close Menu</ion-item>
	  </ion-list>
	</ion-content>
  </ion-menu>
  
  <ion-nav #mycontent [root]="rootPage"  ></ion-nav>

<ion-content >
	<ion-grid >
		<ion-row class="cards-container">
			<ion-col  *ngIf="this.presenze['Comunicazioni']=='true'" col-sm col-12>
				<comunicazioni-card [modules]=modules></comunicazioni-card>
			</ion-col>
			<ion-col *ngIf="this.presenze['Circolari']=='true'" col-sm col-12>
				<circolari-card></circolari-card>
			</ion-col>
			<ion-col *ngIf="this.presenze['Chat']=='true'"  col-sm col-6>
				<chat-card ></chat-card>
			</ion-col>
			<ion-col *ngIf="this.presenze['News']=='true'" col-6>
				<news-card  ></news-card>
			</ion-col>
			<ion-col *ngIf="this.presenze['Messaggi']=='true'" col-6>
				<messaggi-card  ></messaggi-card>
			</ion-col>
			<ion-col *ngIf="this.presenze['Documentale']=='true'" col-6>
				<documentale-card [modules]=modules  ></documentale-card>
			</ion-col>
			<ion-col *ngIf="this.presenze['Rubrica']=='true'" col-6>
				<contact-card  ></contact-card>
			</ion-col>
			
		</ion-row>
		
	</ion-grid>
	
</ion-content>
